@use "../../Styles/Partials/fonts" as *;
@use "../../Styles/Partials/mixins" as *;
@use "../../Styles/partials/variables" as *;

.nxtvidel{
    display: flex;
    padding: 1rem 0 0 0;
    align-items: center;

    &__image{
        height: 3.75rem;
       min-width: 6.25rem;
        object-fit: cover;
        object-position: center;
        border-radius: .25rem;
        margin:  0;
    }
    &__vidinfo{
        padding-left: 1rem;
    }
    &__title{
        @include body-copy;
        font-weight: 600;
        margin:  0;
    }
    &__author{
        @include body-copy;
    }
}