@use "../../Styles/Partials/fonts" as *;
@use "../../Styles/Partials/mixins" as *;
@use "../../Styles/partials/variables" as *;

.comment-el {
  background-color: $white;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  @include tablet {

    margin: 0;
    padding: 1rem 2.25rem 2.25rem 2.25rem
  }

  @include desktop {
    max-width: 50%;
    margin: auto;
  }

  &__element {
    display: flex;
    padding: 1rem 0;
    border-top: .0625rem solid;
    border-bottom: .0625rem solid;
    border-color:$Mercury;

    @include tablet {
      margin: 0 2rem;
    }

    @include desktop {
      margin: 0;
      padding: 1rem 2rem 1rem 1rem;
      border-bottom: 0;
    }
  }

  &__profile-pic {
    @include profile-Picture
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding-left: .7rem;
  }

  &__element-name {
    @include body-copy;
    padding: 0;
    &--bold{
      font-weight: 700;
    }
  }

  &__element-date {
    @include body-copy;
    padding: 0;
    color: $silver;
  }

  &__element-text {
    @include body-copy;
    padding-top: 1rem;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
    min-width: 100%;
  }
}