@use "../../Styles/partials/fonts" as *;
@use "../../Styles/partials/mixins" as *;
@use "../../Styles/partials/variables" as *;

.upload {
    padding: 0 1rem;

    @include tablet {
        border-top: .125rem solid $Mercury;
        padding: 0 2rem;
    }

    @include desktop {
        padding: 0 5rem;
    }

    &title {
        @include page-header;
    }

    &__thumbnail-lable {
        @include sub-heading;
        color: $silver;
        padding: 1rem 0 1rem 0;

        @include tablet {
            display: flex;
            flex-direction: column;
        }
    }

    &__body {
        @include desktop {
            display: flex;
            width: 100%;
            border-top: .125rem solid;
            border-color: $Mercury;
        }
    }

    &__thumbnail {
        width: 18rem;
        border-radius: .25rem;
    }

    &__inputs-container {
        display: flex;
        flex-direction: column;
        width: 100%;

        @include desktop {
            padding-left: 1.5rem;
            height: 100%;
        }
    }

    &__video-title {
        @include sub-heading;
        color: $silver;
        padding: 1rem 0;
    }

    &__text-input-mod {
        width: 100%;
        resize: none;
        padding: .5rem;
        @include body-copy;
        border-radius: .25rem;
        border: 2px solid;
        border-color: $Mercury;

        &:focus {
            outline-color: $brainFlix-Blue;
            outline-width: 1px;
        }
    }



    &__video-description {
        @include sub-heading;
        color: $silver;
        // padding-bottom: 1rem;
    }

    &__button-container {
        display: flex;
        flex-direction: column;

        @include tablet {
            border-top: .125rem solid $Mercury;
            padding: 2rem 0;
            flex-direction: row-reverse;
        }
    }

    &__publish {
        @include lables-buttons;
        color: $white;
        margin-bottom: 1rem;
        display: flex;
        background-color: $brainFlix-Blue;
        border-radius: .25rem;
        border: none;
        width: 100%;
        height: 2.5rem;
        align-items: center;
        justify-content: center;

        &:hover {
            background-color: $brainFlix-DarkBlue;
        }

        @include tablet {
            width: 30%;
        }

        @include desktop {
            width: 9.375rem
        }

        ;
    }

    &__text {
        width: 100%;
    }

    &__cancel {
        @include lables-buttons;
        color: $brainFlix-Blue;
        display: flex;
        background-color: $white;
        border-radius: .25rem;
        border: none;
        width: 100%;
        min-width: 9.375rem;
        height: 2.5rem;
        align-items: center;
        justify-content: center;
    }
}

.error{
    border-color: red;
}