@use "../../Styles/Partials/fonts" as *;
@use "../../Styles/Partials/mixins" as *;
@use "../../Styles/partials/variables" as *;

.comments {
    &__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 1rem;
        

        @include tablet {
            padding: 1rem 2rem;
            flex-wrap: nowrap;
            flex-direction: row;
            // align-items: center;
        }
    }

    &__photo {
        border-radius: 50%;
        min-width: 2.25rem;
        width: 2.25rem;
        min-height: 2.25rem;
        height: 2.25rem;
        background-image: url(../Assets/Images/Mohan-muruge.jpg);
        background-size: cover;
        margin-top: 1.3rem;
       
        margin-right: 1rem;

        @include tablet {
            min-width: 2.5rem;
            min-height: 2.5rem;
        }

        @include tablet {
            max-width: 2.5rem;
            max-height: 2.5rem;
            margin-top: 0;
        }
    }

    &__formcontainer {
       width: 81.5%;
        @include tablet {
            flex-direction: row;
            display: flex;
        }

    }

    &__label {
        display: flex;
        order: 1;
        flex-direction: column-reverse;
        @include lables-buttons;
        color: $silver;
        font-weight: 400;
        

        @include tablet {
            flex-direction: row;
            align-items: center;
            
        }
    }

    &__input {
       width: 85.5%;
        border-radius: .25rem;
        border: $Mercury solid .0625rem;
        min-height: 2.5rem;
        resize: none;
        padding: 1rem;
        @include body-copy;

        @include tablet {
            margin-right: 1rem;
            
            padding-bottom: 0;
            height: 2.5rem
        }
    }

    &__button {
        @include lables-buttons;
        color: $white;
        order: 3;
        margin: 1rem 0;
        display: flex;
        background-color: $brainFlix-Blue;
        border-radius: .25rem;
        border: none;
        width: 100%;
        height: 2.5rem;
        align-items: center;
        justify-content: center;

        @include tablet {
            order: 2;
            width: 9.375rem;
        }
    }

    &__text {
        width: 100%;
        @include body-copy;
    }
}